<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<!-- Hibernate configuration for usage within Spring -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="mySessionFactory" />
		</property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/awardmanagement" />
		<property name="username" value="root" />
		<property name="password" value="thestral" />
	</bean>
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="annotatedClasses">
			<list>
				<value>ar.com.donpepe.awardmanagement.domain.EntityWithId</value>
				<value>ar.com.donpepe.awardmanagement.domain.User</value>
				<value>ar.com.donpepe.awardmanagement.domain.SaleCommission</value>
				<value>ar.com.donpepe.awardmanagement.domain.Product</value>
				<value>ar.com.donpepe.awardmanagement.domain.SaleItem</value>
				<value>ar.com.donpepe.awardmanagement.domain.Sale</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<!-- <prop key="hibernate.hbm2ddl.auto">create</prop> -->
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
			</props>
		</property>
	</bean>
	<!-- End of Hibernate configuration for usage within Spring -->
	<!-- Daos -->
	<bean id="genericHibernateDao"
		class="ar.com.donpepe.awardmanagement.daos.impl.GenericHibernateDao"
		abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<!-- <bean id="saleDao" class="ar.com.donpepe.awardmanagement.daos.impl.SaleDaoImpl"> -->
	<!-- </bean> -->
	<bean id="userDao" class="ar.com.donpepe.awardmanagement.daos.impl.UserDaoImpl"
		parent="genericHibernateDao">
	</bean>
	<bean id="productDao" class="ar.com.donpepe.awardmanagement.daos.impl.ProductDaoImpl"
		parent="genericHibernateDao" />

	<bean id="saleDao" class="ar.com.donpepe.awardmanagement.daos.impl.SaleDaoImpl"
		parent="genericHibernateDao">
	</bean>
	<bean id="saleCommissionDao" class="ar.com.donpepe.awardmanagement.daos.impl.SaleCommissionDaoImpl"
		parent="genericHibernateDao">
	</bean>

<!-- End of Daos -->
	<!-- Services -->
	<bean id="userService"
		class="ar.com.donpepe.awardmanagement.services.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<bean id="saleCommissionService"
		class="ar.com.donpepe.awardmanagement.services.impl.SaleCommissionServiceImpl">
		<property name="saleCommissionDao" ref="saleCommissionDao"></property>
	</bean>
	<bean id="productService"
		class="ar.com.donpepe.awardmanagement.services.impl.ProductServiceImpl">
		<property name="productDao" ref="productDao" />
	</bean>

	<bean id="saleService"
		class="ar.com.donpepe.awardmanagement.services.impl.SalesServiceImpl">
		<property name="saleDao" ref="saleDao"></property>
	</bean>
	<!-- End of Services -->
</beans>